<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.traildog.app">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        android:theme="@style/AppTheme">
        <!-- <activity -->
        <!-- android:name=".MainActivity" -->
        <!-- android:label="@string/app_name" -->
        <!-- android:theme="@style/AppTheme.NoActionBar"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <receiver
            android:name=".MyRadarReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="io.radar.sdk.RECEIVED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".Wallet"
            android:exported="true"
            android:label="@string/title_activity_wallet"
            android:theme="@style/AppTheme.NoActionBar" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDToQ9uPVkj6A_-9NaAWwiMJ59yYH_UOBI" />
        <meta-data
            android:name="radar-api-test-key"
            android:value="prj_test_pk_f63824db52ac937bbc42f871b07bcfbda11615ec" />
        <meta-data
            android:name="radar-api-live-key"
            android:value="prj_live_pk_f6b51f4172bc019d99bd6b8f0f9876b2ee6df27a" />

        <activity
            android:name=".RegisterActivity"
            android:exported="true" />
        <activity
            android:name=".SigninActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".AssembleActivity"></activity>
        <activity
            android:name=".model.FullViewMap"
            android:label="@string/title_activity_full_view_map"></activity>
    </application>

</manifest>